body {
    background-color: cornsilk;
}

p{
    color: cornflowerblue;
}

h1{
    color: cornflowerblue;
}

h2{
    color: cornflowerblue;
}

th{
    color: cornflowerblue;

}

td{
    color:cornflowerblue;
}
